.header-container {
    display: flex;
    flex-direction: column;
    flex:1;
  }
  
  .header-component {
    Width:100%;
    Height:51.6px;
    position: absolute;
    background: linear-gradient(90deg, #040F57 9.33%, #071257 100%);
}
.logo{
  float: left;
  Width:100px;
  Height:46px;
  Top:10px;
  Left:66px;
  position: absolute;

}

.nav-component{
  flex-direction: row;
  float: right;
  height: 2rem;
  width: 500px;
  display: flex;
  flex: 0.5 1;
  margin: 15px 0px 0px 0px;
  color: white;
}
.block-a {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 0.4 1;
  margin: 3px 5px 0px 15px;
  font-size: 12.3px;
  font-family: sans-serif;
  font-weight:500;
}

.block-b {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 0.4 1;
  margin: 3px 5px 0px -51px;
  font-size: 12.2px;
  font-family: sans-serif;
  font-weight:500;
}

.block-c {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 0.4;
  margin: 3px -3px 0px -44px;
  font-size: 12.2px;
  font-family: sans-serif;
  font-weight:500;
}
.block-d {
  font-size: 12.3px;
  font-family: sans-serif;
  font-weight: 500;
  border: 1.5px solid white;
  border-radius: 35px;
  height: 31.8px;
  padding-top: 0px;
  width: 113px;
  margin: -7px 58px 0px 5px;
}
.block-e{
   text-align: center;
   margin:7px 3.2px 3px 2px;
   padding:2px;
   font-size:11.9px; ;

}

.main-area{
  height: 483px;
  border: 1px solid rgb(91, 12, 238);
  width: 100%;
  flex-direction: column;
  display: flex;
  position: absolute;
  background: linear-gradient(90deg, #A06B15 0%, #0A186D 100%);
  opacity: 0.5;;
  opacity: 0.5;
  color:white;
  margin-top: 52px;
 

}

.content{
    border: 1px solid #071257;
    width: 500px;
    height: 239px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 81px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    margin: 125px -162px 273px -2px;
}